body {
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.task {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 10px 20px;
    background-color: #ffffe9;
    font-size: 24px;
    border: 1px solid #666;
    border-radius: 4px;
}
.task::after {
    color: #000;
    content: "not checked";
}

.checked {
    background-color: #42e285;
}

.checked::after {
    content: "checked";
}

a {
    text-decoration: none;
}

a, a:visited {
    color: #5656dd;
}