.hidden {
    display: none;
}

#slider {
    display: flex;
    width: 800px;
    height: 600px;
    position: relative;
	overflow: hidden;
}

.container {
    width: 800px;
    height: 600px;
    position: relative;
	overflow: hidden;
    margin: 0 auto;
}