body,
#render-canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
    color: #ffffe9;
    background-color: #2c2c2c;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


/*PLAY SCREEN*/

.a-pos {
    position: absolute;
}

.hide {
    display: none;
}

#health {
    top: 2vh;
    left: 2vh;
    height: 5vh;
    width: 21vh;
    background: rgb(255, 22, 22);
    background: linear-gradient(180deg, rgba(255, 22, 22, 1) 0%, rgba(57, 5, 5, 1) 51%, rgba(140, 11, 11, 1) 100%);
    border-top-left-radius: 25px;
    border: #ffffe9 5px solid;
    border-right: none;
}

#shield {
    top: 2vh;
    left: 23vh;
    height: 5vh;
    width: 11vh;
    background: rgb(22, 22, 255);
    background: linear-gradient(180deg, rgba(22, 22, 255, 1) 0%, rgba(24, 24, 24, 1) 51%, rgba(11, 11, 140, 1) 100%);
    border-bottom-right-radius: 25px;
    border: #ffffe9 5px solid;
    border-left: none;
}

#health > img,
#shield > img {
    top: 0.5vh;
    left: 0.5vh;
    width: 4vh;
}

#electroShield {
    top: 9vh;
    left: 2vh;
    height: 2vh;
    width: 33vh;
    background: rgb(22, 255, 22);
    background: linear-gradient(180deg, rgba(22, 255, 22, 1) 0%, rgba(5, 57, 16, 1) 51%, rgba(11, 140, 37, 1) 100%);
    border-radius: 1vh;
}

#player_info {
    bottom: 1vh;
    left: 1vh;
}

#player_info > img {
    width: 8vh;
    margin-right: 1vh;
    border-radius: 50%;
}

#player_info > span {
    font-size: 5vh;
}

#message {
    height: 15vh;
    width: 70vh;
    bottom: 1vh;
    right: 1vh;
    font-size: 1.8vh;
}

#message > img {
    float: left;
    height: 100%;
    margin-right: 1vh;
}

.loader-wraper {
    position: static;
    width: 100%;
    height: 100vh;
    background-color: #2c2c2c;
    z-index: 10;
}

.loader {
    top: 20vh;
    left: calc(50% - 20vh);
    width: 40vh;
    height: 40vh;
    border: 4vh solid rgba(250, 220, 52, 0.6);
    border-radius: 50%;
    border-left-color: rgba(250, 220, 52, 1);
    animation: loader 1.3s linear infinite;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100vh;
    background: url("assets/menu_bg.jpg") #2c2c2c;
    background-size: cover;
}

.menu li {
    width: 50vh;
}

.menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 3vh;
}

.btn {
    padding: 1vh;
    margin: 2vh;
    border: 1px solid #ffffe9;
    box-shadow: 4px 4px 8px 2px rgba(211, 218, 223, 0.8);
}

.btn:hover {
    box-shadow: 2px 2px 4px 0px rgba(211, 218, 223, 0.8);
}

.btn:active {
    box-shadow: 2px 2px 4px 2px rgba(211, 218, 223, 0.8) inset;

}

.errorPage {
    width: 100%;
    height: 100vh;
    background: url("assets/errorPage_bg.jpg") #2c2c2c;
    background-size: cover;
}

.errorPage > h1 {
    bottom: 10vh;
    left: 18vw;
    font-size: 19vw;
    color: #ffdf44;
}

.errorPage > h2 {
    top: 65vh;
    left: 20vw;
    font-size: 3vw;
}

.errorPage > p {
    bottom: 10vh;
    right: 10vw;
    font-size: 1.5vw;
}

.errorPage > a {
    top: 4vw;
    right: 10vw;
    font-size: 1.5vw;
}

/*--------------------------------------------------------------*/
#coin-score {
    top: -4vh;
    right: 8vh;
    font-size: 6vh;
}

.modal {
    position: absolute;
    top: 15vh;
    left: 15vw;
    width: 70vw;
    height: 70vh;
    background-color: #fff;

}
.modal::before {
    position: fixed;
    content: '';
    width: 100%;
    height: 100vh;
    background-color: #727272;
}

/*АНИМАЦИИ*/
@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}


@keyframes electroShield-reducing {
    0% {
        width: 33vh;
    }
    33% {
        background: rgb(22, 255, 22);
        background: linear-gradient(180deg, rgba(22, 255, 22, 1) 0%, rgba(5, 57, 16, 1) 51%, rgba(11, 140, 37, 1) 100%);
    }
    100% {
        background-color: #e92f2f;
        width: 0vh;
    }
}